{% extends 'accounts/base1.html' %}
{% block content %}

<section class="vh-100" style="background-color: #dcdfe2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">Log In</h3>
                        <form method="POST">
                            {% csrf_token %}

                            <!-- <div class="form-outline mb-4">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                                    placeholder="Email Address" name=email />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                                    placeholder="Password" name='password' />
                            </div> -->
                            <div class="containter">
                                {{ form.as_p }}
                            </div>
                            <div >
                                <!-- Simple link -->
                                <a href="#">Forgot password?</a>
                            </div>
                    <hr class="m-" />
                    <button class="btn btn-primary" type="submit">
                        Login
                    </button>
                    </form>
                    <hr>
                    <p>Don't have an account <a href="{% url 'accounts:register' %}">Register</a> here.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}